body{
  background: url("http://s4.postimg.org/lbekjruor/John_cena_1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.myButton {
	-moz-box-shadow: 0px 0px 0px 0px #3dc21b;
	-webkit-box-shadow: 0px 0px 0px 0px #3dc21b;
	box-shadow: 0px 0px 0px 0px #3dc21b;
	background-color:#44c767;
	-moz-border-radius:42px;
	-webkit-border-radius:42px;
	border-radius:42px;
	border:12px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Impact;
	font-size:28px;
	font-weight:bold;
	padding:32px 76px;
	text-decoration:none;
	text-shadow:-2px 4px 0px #2f6627;
  margin-top: 000px
  
}
.myButton:hover {
	background-color:#5cbf2a;
}
.myButton:active {
	position:relative;
	top:1px;
}

#enemy1 {
  position: absolute;
  opacity: 1;
  width: 1px;
  height: 1px;
  top: 225px;
  left: 185px;
  
}

@-webkit-keyframes enemymove {
    from {height: 1px;
    	  width: 1px;
    	  top: 225px;
    	  left: 185px;}
    to {height: 380px;
    	width: 380px;
    	top: 425px;
    	left: 385px;}
}

/* Standard syntax */
@keyframes enemymove {
    from {height: 1px;
    	  width: 1px;
    	  top: 225px;
    	  left: 185px;}
    to {height: 380px;
    	width: 380px;
        top: 425px;
    	left: 385px;}
}

#enemy2 {
  position: absolute;
  width: 1px;
  height: 1px;
  top: 750px;
  left: 550px;
  opacity: 1;
  transition-property: all;
  transition-duration: 4s;
  transition-timing-function: linear;
}

#enemy3 {
  position: absolute;
  width: 1px;
  height: 1px;
  top: 507px;
  left: 504px;
  opacity: 1;
  transition-property: all;
  transition-duration: 4s;
  transition-timing-function: linear;
}
        